{{ define "main" }}

<div class="section section-header">
    <div class="parallax filter filter-color-blue">
        <div class="image" style="background-image: url('img/better_life.jpg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h1 class="title-modern">Your improved life is only a few steps away</h1>
                    <div class="separator line-separator">
                        <i class="fa fa-star"></i>
                    </div>
                    <h2>Let me help you get there!</h2>
                     
                </div>

                <div class="button-get-started">
                    <a href="#about-section" class="btn btn-white btn-fill btn-lg">
                        Find out more
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="section" id="about-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
              
                <p class="lead">Your brain is always spinning. It’s filled with ideas…and
                    angst.<br><em>Imposter syndrome. Analysis paralysis. Comparisonitis. Chasing shiny objects.</em>
                </p>
                <p class="description">When the mindset blocks show up, you quickly get caught in an
                    intellectual spin cycle.</p>
                <p style="padding-left: 40px; text-align: center;"><em>“I know these thoughts are stupid, why can’t
                        I make them stop?”</em><br><em> “Why do I keep @!$%-ing sabotaging myself?!”</em><br><em>
                        “I’m smarter than this, why can’t I stop this?”</em><br><em> “I should be able to cure this
                        on my own.”</em></p>

                <h2 class="description"><strong>I feel your pain, and here’s some real talk.</strong></h2>

                <p class="description">You can’t reason your way out of self-doubt. Logic won’t stop
                    self-sabotage. All the intellect in the world won’t quash fears, erase worry, or end
                    uncertainty. Beating yourself up won’t magically build confidence. The answer also isn’t another
                    marketing course or business podcast.</p>                
            </div>
      
        </div>

    </div> 
</div>


<div class="section">
    <div class="bg-info">


    <div class="container">
        <div class="row">
            <h2 class="text-center">You have the power to change, you just need someone to give you
                that jolt.</h2>
        </div>

    </div>
</div>
</div>

<div class="section">
    <div class="container">

        <div class="row mb-3">
            <div class="col-md-8">


                <div class="et_pb_module et_pb_divider_0 et_pb_space et_pb_divider_hidden">
                    <div class="et_pb_divider_internal"></div>
                </div>
                <div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">

                    <div class="et_pb_text_inner">
                        <h2><strong>I’m Lisa Duffin,</strong><br><span style="font-weight: 400;">and I want to help
                                you
                                play bigger.</span></h2>
                        <p class="description">I work with smart people who realize what’s getting in the way of success is themselves.</p>
                        <p class="description">My clients come to me feeling lost and overwhelmed, riddled with self-doubt, and stuck on
                            autopilot. They know they want more, but aren’t sure they deserve it or if they have what it
                            takes to make it happen.</p>
                        <p class="description">They’ve spent their lives stuffing their feelings because they learned big emotions don’t
                            create
                            big success. They’re ready to change this for themselves and (for many) to model healthier
                            behaviors for their children.</p>
                        <p class="description">My clients leave with a deeper understanding of what they want and why it matters, strategies
                            for
                            dealing with life’s challenges, and the confidence to make important, lasting changes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <img class="img-responsive" src="img/lisa-profile.jpg" />

            </div> <!-- .et_pb_column -->


        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <h3>Consultant</h3>
                    <p class="description">I've consultanted for big companies and SME's. I also offer individualised coaching and mentoring</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <h3>Public Speaker</h3>
                    <p class="description">Talks to engage, motivate and inform you on the mental blocks holding you back from your unfulfilled life</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="fa fa-book"></i>
                    </div>
                    <h3>Author</h3>
                    <p class="description">My books give you the tools you need to release your breaks</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">


                    <div class="text-center">
                        <h2><strong>Let’s eliminate your <em>shoulds</em>,</strong><br><span
                                style="font-weight: 400;">and uncover what truly matters to you!</span></h2>
                    </div>
            </div> 


        </div> 
    </div>

</div>

<div class="section section-our-team-freebie">
    <div class="parallax filter filter-color-black">
        <div class="image" style="background-image:url('img/what-we-offer.jpg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>What I Offer</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description">We promise you a new look and more importantly, a new attitude. We build
                            that by getting to know you, your needs and creating the best looking clothes.</p>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="img/one-to-one.png" />
                                            </div>
                                            <div class="description">
                                                <h3 class="title">One on one personal coaching</h3>
                                                <p class="description">I am here to hold your hand as well as give you 
                                                    the much needed push you deserve. I'll help you master your thoughts 
                                                    and unlock your hidden treasure chest</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="img/seminar.png" />
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Seminars</h3>
                                                <p class="description">Seminars are a great way to make that shift that could be missing in your life</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="img/retreats.png" />
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Mindful retreats</h3>
                                                <p class="description">Give yourself a chance to reboot. 
                                                    These retreats are designed to reset your thinking 
                                                    and steer you in a positive direction towards your
                                                    life goals</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-our-clients-freebie">
    <div class="container">
        <div class="title-area">
            <h5 class="subtitle text-gray">Here are some</h5>
            <h2>Clients Testimonials</h2>
            <div class="separator separator-danger">∎</div>
        </div>

        <ul class="nav nav-text" role="tablist">
            <li class="active">
                <a href="#testimonial1" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="img/faces/face_5.jpg" />
                    </div>
                </a>
            </li>
            <li>
                <a href="#testimonial2" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="img/faces/face_6.jpg" />
                    </div>
                </a>
            </li>
            <li>
                <a href="#testimonial3" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="img/faces/face_2.jpg" />
                    </div>
                </a>
            </li>
        </ul>


        <div class="tab-content">
            <div class="tab-pane active" id="testimonial1">
                <p class="description">
                    And I used a period because contrary to popular belief I strongly dislike exclamation points! We no
                    longer have to be scared of the truth feels good to be home In Roman times the artist would
                    contemplate proportions and colors. Now there is only one important color... Green I even had the
                    pink polo I thought I was Kanye I promise I will never let the people down. I want a better life for
                    all!
                </p>
            </div>
            <div class="tab-pane" id="testimonial2">
                <p class="description">Green I even had the pink polo I thought I was Kanye I promise I will never let
                    the people down. I want a better life for all! And I used a period because contrary to popular
                    belief I strongly dislike exclamation points! We no longer have to be scared of the truth feels good
                    to be home In Roman times the artist would contemplate proportions and colors. Now there is only one
                    important color...
                </p>
            </div>
            <div class="tab-pane" id="testimonial3">
                <p class="description"> I used a period because contrary to popular belief I strongly dislike
                    exclamation points! We no longer have to be scared of the truth feels good to be home In Roman times
                    the artist would contemplate proportions and colors. The 'Gaia' team did a great work while we were
                    collaborating. They provided a vision that was in deep connection with our needs and helped us
                    achieve our goals.
                </p>
            </div>

        </div>

    </div>
</div>


<div class="section section-small section-get-started">
    <div class="parallax filter">
        <div class="image" style="background-image: url('img/office.jpg')">
        </div>
        <div class="container">
            <div class="title-area">
                <h2 class="text-white">Do you want to work with us?</h2>
                <div class="separator line-separator">♦</div>
                <p class="description"> We are keen on creating a second skin for anyone with a sense of style! We
                    design our clothes having our customers in mind and we never disappoint!</p>
            </div>

            <div class="button-get-started">
                <a href="#gaia" class="btn btn-danger btn-fill btn-lg">Contact Us</a>
            </div>
        </div>
    </div>
</div>


{{ end }}