{{ "<!-- Footer Section Start -->" | safeHTML }}
<footer id="footer">
    <div class="container">
        <div class="row content-justify-between">
            <div class="col-md-4 col-12 text-center text-lg-left text-md-left">
                <p class="copyright">Copyright:
                    <span>
                        <script>document.write(new Date().getFullYear())</script>
                    </span> Design and Developed by
                    <a href="http://www.imobilize.co.uk" rel="no-follow" target="_blank">iMobilize Ltd</a>.
                    <br>
                </p>
            </div>
            <div class="col-md-4 col-12 text-center text-lg-left text-md-left">
                <p style="text-align: right;">
                    <span style="color: rgb(153, 153, 153); font-size: 17px;">
                        <a href="/privacy-policy"
                                        class="tve-froala fr-basic" style="outline: none;"
                                        data-css="tve-u-170375eaf8d"><u>Privacy Policy</u></a>&nbsp;|</span>
                        <a class="tve-froala fr-basic"
                                    href="/terms-and-conditions"
                                    style="outline: none;" data-css="tve-u-170375e9848">​Terms &amp;
                                    Conditions</a>
                </p>
            </div>
            <div class="col-md-4 col-12">
                {{ "<!-- Social Media -->" | safeHTML }}
                <ul class="social text-center text-md-right text-lg-right">
                    {{ range .Site.Params.socialIcon }}
                    <li><a href="{{ .url | safeURL }}"><i class="{{ .icon }}"></i></a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</footer>
{{ "<!-- footer section end -->" | safeHTML }}

{{ "<!-- jquery -->" | safeHTML }}
<script src="{{ `plugins/jQurey/jquery.min.js` | relURL }}"></script>
{{ "<!-- Form Validation -->" | safeHTML }}
<script src="{{ `plugins/form-validation/jquery.form.js` | relURL }}"></script>
<script src="{{ `plugins/form-validation/jquery.validate.min.js` | relURL }}"></script>
{{ "<!-- slick slider -->" | safeHTML }}
<script src="{{ `plugins/slick/slick.min.js` | relURL }}"></script>
{{ "<!-- bootstrap js -->" | safeHTML }}
<script src="{{ `plugins/bootstrap/bootstrap.min.js` | relURL }}"></script>
{{ "<!-- wow js -->" | safeHTML }}
<script src="{{ `plugins/wow-js/wow.min.js` | relURL }}"></script>
{{ "<!-- slider js -->" | safeHTML }}
<script src="{{ `plugins/slider/slider.js` | relURL }}"></script>
{{ "<!-- Fancybox -->" | safeHTML }}
<script src="{{ `plugins/facncybox/jquery.fancybox.js` | relURL }}"></script>
{{ "<!-- template main js -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.RelPermalink }}"></script>