<head>
  <meta charset="utf-8" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" href="/img/favicon.png" type="image/png" />

  <title>{{ .Title }} - Lisa Duffin</title>

  {{ template "_internal/schema.html" . }}

  {{ template "_internal/opengraph.html" . }}

  {{ template "_internal/twitter_cards.html" . }}

  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="/css/flaticon.css" />
  <link rel="stylesheet" href="/css/themify-icons.css" />
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css" />
  <!-- main css -->
  <link rel="stylesheet" href="/css/style.css" />
</head>
