<style>
.lead-text p {
  /* font-family: "Roboto", sans-serif; */
  line-height: 34px;
  font-size: 22px;
  font-weight: 300;
}

.held-back {
    padding-top: 40px;
}

.block img {
    max-width: 100%;
}

section h1 {
 
    color: #302f59;
}
</style>

{{ if .Site.Params.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<section class="held-back lead-text">
    <div class="container">
        <div class="row mb-5 mt-5">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading text-uppercase">How does it feel to be a parent?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
  
                    <p><i class="far fa-check-square"></i> Are you regularly feeling inadequate as a parent?</p>
         
                        <p><i class="far fa-check-square"></i> Are you finding it difficult to manage your child’s behaviour?</p>
    
                        <p><i class="far fa-check-square"></i> Are you struggling with balancing work and family life?</p>
              
                        <p><i class="far fa-check-square"></i> Do you ever second guess yourself and compare yourself to other parents?</p>
            
                        <p><i class="far fa-check-square"></i> Are you looking for a non-judgemental sounding board?</p>
        
                </div>
            </div>
            <div class="col-sm-5">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    {{ with .Site.Params.opening.image }}<img src="{{ . | absURL }}" alt="about-image">{{ end }}
                </div>
            </div>
        </div>

        <div class="row mb-5 mt-5">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading text-uppercase">If yes, then you’ve arrived at the right place… WELCOME!</h3>
            </div>
        </div>
    </div>
</section>

<section class="bg-light lead-text pt-5 pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading mb-5 mt-5">Let's face it parenting is hard</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="block">
  
                    <p class="lead">The sheer responsibility that comes with raising a human is huge and the magnitude can sometimes feel crippling.</p>
                    <p class="lead">✔︎ You’ve avidly read every parenting book you can</p> 
                    <p class="lead">✔︎ You know your child’s developmental milestones like you know the back of your hand</p>
                    <p class="lead">✔︎ You have tried every parenting strategy you know of…. repeatedly</p>
                    <p class="lead">And yet you can’t help but think you are falling short; that you are missing something. Somewhere deep inside is a niggling feeling that tells you you could be doing more to empower your child</p>
        
                </div>
            </div>
     
        </div>

    </div>
</section>

{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}

