<style>

.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.section-title span {
    position: absolute;
    top: 30px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}
.services {
    padding: 60px 0;
}

.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
    border: 1px solid #fff;
}

.services .icon {
    margin: 0 auto 20px auto;
    padding-top: 17px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    background: #7AA641;
}

.services .icon i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
}

.bx {
    font-family: 'boxicons'!important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
</style>

<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2 class="large-header">The Route To A Positive Parenting Mindset</h2>
        <p class="lead">It's as easy as 1,2,3</p>
      </div>

      <div class="row">
        <div class="col-md-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble">1</i></div>
            <h4 class="">Book a free Consultation</h4>
            <p class="description">A 20 minute, no obligation discovery call to discuss your needs</p>
          </div>
        </div>

        <div class="col-md-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file">2</i></div>
            <h4 class="">Receive a tailored plan for your family</h4>
            <p class="description">Clarity on your parenting/family goals and practical, actionable steps to help you reach them</p>
          </div>
        </div>

        <div class="col-md-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer">3</i></div>
            <h4 class="">Coaching for Purposeful Change</h4>
            <p class="description">1:1 coaching to unlock any unconscious barriers to positive parenting</p>
          </div>
        </div>

      </div>

      <br />

    </div>
  </section>