<style>

section.cta p {
    /* font-family: "silver-south"; */
  /* font-family: "Roboto", sans-serif; */
  line-height: 34px;
  /* font-size: 22px; */
  font-weight: 300;
}

section.cta {
	position: relative;
    padding: 0 0;
	background-image: url(/img/children-playing-background.jpg);
	background-position: center;
	background-size: cover;
}

section.cta .overlay {
	padding: 200px 0;
	/* background: linear-gradient(rgba(20, 20, 20, .8), rgba(20, 20, 20, .8)); */
}

section.cta h3 {
    font-family: silver-south;
    font-size: 30pt;
    color: #302f59;
}

section p.heading-font {
    font-family: silver-south;
    font-size: 30pt;
    color: #302f59;
    /* color: #cfb54f; */

}

</style>
<!-- CTA -->
<section class="page-section cta">
    <div class="overlay">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-sm-8 bg-white p-5">
                    <h3 class="mb-5 text-center"><i>There is a solution to every parenting problem, I promise.</i></h3>
              

                    <p class="lead">So what will you gain from working with me?</p>
                    <div class="block wow">
      
                        <p class="lead"><i class="fa fa-check-circle" style="color: #cfb54f;"></i> &nbsp;Expertise from a coach who is passionate and fully committed to supporting you in your parenting journey</p>
                        <p class="lead"><i class="fa fa-check-circle" style="color: #cfb54f;"></i> &nbsp;An opportunity to reflect on your current parenting style and family dynamic</p> 
                        <p class="lead"><i class="fa fa-check-circle" style="color: #cfb54f;"></i> &nbsp;Effective tools and clear strategies tailored to your child’s specific needs</p>
                        <p class="lead"><i class="fa fa-check-circle" style="color: #cfb54f;"></i> &nbsp;Improved confidence in your parenting</p>
                        <p class="lead"><i class="fa fa-check-circle" style="color: #cfb54f;"></i> &nbsp;A deeper understanding of your child</p>
                        <p class="lead"><i class="fa fa-check-circle" style="color: #cfb54f;"></i> &nbsp;Smoother family interactions and deeper connections</p>
                        <br>
                        <p class="heading-font"><i>Are you ready to parent with purpose?</i></p>
                    </div>
                </div>
         
            </div>

        </div>
    </div>
</section>